@media (max-width: 768px) {
    .searchbar{
        margin-left: 40px;
        width: 10rem;
    }

    .chip-filter{
        display: flex;
        justify-content: start;
        
    }

    .videos{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: start;
        
    }

    .video-card {
        padding: 0;
        margin: 0;
        border: none;
        padding: 10px;
        cursor: pointer;
        text-align: left;
        background-color: transparent;
        width: 22rem;
        display: flex;
        flex-direction: column;
    }
}