
body{

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", "Arial", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3.5rem;
}

.title-section{
    display: flex;
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
}

#logo{
    color: red;

}

.search-section {
    display: flex;
    align-items: center; 
}


.searchbar{
    width: 30rem;
    height: 40px;
    padding-left: 16px;
    padding-right: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1rem;
    
    font-weight: 400;
    outline: none;
}

.search-button{
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 40px;
    width: 4rem;
    fill: rgb(15, 15, 15);
    cursor: pointer;
}

.search-button i {
    font-size: 24px; 
}

.login-section{
    display: flex;
    flex-direction: row;
}

.mic-button{
    margin-left: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 70%;
    cursor: pointer;
}

.mic-button i {
    font-size: 24px;
}

.settings-button{
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}

.login-button{
    color: #065fd4;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 22px;
    padding: 10px;
    font-size: 14px;

    cursor: pointer;
    font-weight: 600;
}

.main{
    padding: 0 2rem;
}

.chip-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.language{
    border: 1px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242);
    font-size: 1rem;
    font-weight: 600;
    
}

.videos{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.video-card {
    padding: 0;
    margin: 0;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    background-color: transparent;
    width: 28rem;
}

.video-card:hover{
    background-color: rgba(248, 234, 231);
    border-radius: 10px;
    border: none;
}

.video-card img{
    width: 100%;
    height: 18rem;
    border-radius: 10px;
    padding-bottom: 12px;
    
}

.video-card h3{
    margin: 0;
    flex-shrink: 0; 
}

.video-card p{
    font-size: 14px;
    color: gray;
    margin: 0;
    padding: 5px 0;
}




